[data-md-color-primary="custom"] {
    --md-primary-fg-color:      #00897B;
    --md-primary-fg-color--light: #26A69A;
    --md-primary-fg-color--dark:  #00796B;
}

[data-md-color-scheme="victor"] {
    --md-typeset-a-color: var(--md-primary-fg-color--dark);
}

.about-photo {
    float: right;
    margin: 0 0 1rem 1.5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}