<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>victor dinh | {{page.title}}</title>
    <link rel="icon" type="image/png" href="../images/fox.png">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Libre+Caslon+Display&display=swap" rel="stylesheet">
</head>

<body>
    {% include navigation.html %}
    <div class="container">

    {{ content }}

    </div>
    <footer>
        <div id="last_update">
            <img src="/images/icons8-fox-48.png">
            last updated: {{page.lastupdate}}
        </div>
        <div id="icon_reference">
            <a target="_blank" href="https://icons8.com/icon/RlkHMHJofPY9/fox">Fox</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
    </footer>
</body>
</html>